<div class="editLesson">
<h1 class="editTitle">Editing Lesson</h1>

<%= render 'form', lesson: @lesson %>

<%= link_to 'Show', @lesson, class:"btn btn-dark lback" %>
<%= link_to 'Back', lessons_path, class:"btn btn-dark lback" %>
</div>