// Place all the styles related to the Categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
//Categories
//Category Index
.catIntro{
	text-align: center;
}
.col-sm-4 img {
	border-radius: 25px;
	height: 17rem;
	box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2), 0 4px 20px 0 rgba(0,0,0,0.19);
}
//Category show
.catImage img{
	border-radius: 25px;
	height: 20rem;
	display: block;
	margin: auto;
}
.catLinks{
	margin-left: 1rem;
}
.clessons {
	margin-top: 2rem;
}
#category_description {
    width: 50%;
}
