<p id="notice"><%= notice %></p>
<div class="row">
<div class="col-sm-12"><h1>Share your skills or have fun learning!</h1></div>
        <% @categories.each do |category| %>
      <div class="col-sm-4">
           <div><%= category.description %></div>
            <%= image_tag category.avatar_url %>
      </div>
        <% end %>
</div>
</div>
  

<%= link_to 'New Category', new_category_path %>
